<!DOCTYPE html>
<html>
<head>

<style>

body{
    font-family:Arial;
    background:#f8fafc;
    padding:40px;
}

textarea{
    width:100%;
    height:300px;
    padding:20px;
    border-radius:10px;
}

button{
    margin-top:20px;
    padding:12px 25px;
    background:#14b8a6;
    color:white;
    border:none;
    border-radius:10px;
}

</style>

</head>

<body>

<h1>📝 Journal</h1>

<form>

<textarea placeholder="Write your thoughts..."></textarea>

<br>

<button>Save Journal</button>

</form>

</body>
</html>