<!DOCTYPE html>
<html>
<head>
    <title>Meditation</title>

    <style>

        body{
            font-family:Arial;
            background:#0f172a;
            color:white;
            text-align:center;
            padding:40px;
        }

        .box{
            width:500px;
            margin:auto;
            background:#1e293b;
            padding:30px;
            border-radius:20px;
        }

        audio{
            width:100%;
            margin-top:20px;
        }

    </style>
</head>

<body>

    <div class="box">

        <h1>🧘 Meditation Zone</h1>

        <p>Relax and breathe slowly.</p>

        <audio controls loop>
            <source src="{{ url_for('static', filename='audio/meditation.mp3') }}" type="audio/mp3">
        </audio>
       
        <video width="100%" controls loop>
    <source src="{{ url_for('static', filename='videos/hill.mp4') }}" type="video/mp4">
</video>


    </div>

</body>
</html>